.travels-container {
    padding: 0rem 5rem;
    margin: 3rem 0;
}

.grid-title {
    font-size: 2rem;
    font-family: 'PlaywriteGBJ', sans-serif;

    color: #bf6a2e;

    margin-bottom: 2rem;
}

.travel-grid {
    display: grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(300px, 1fr)
        );

    gap: 2rem;
}